@use "global" as *;
@use "articulo" as *;

body{
    background-color: #fffbf7;
}

.barra-nav{
    background-color: $color-p !important;

    .nav-principal{
        .nav-menu{
            .nav-buscador{
                margin-left: 50px;
                .buscador{
                    margin-left: 180px;
                    width: 500px;
                    border-color: $color-p;
                }
                .boton{
                    border-color: $color-s;
                    
                }
                .boton:hover{
                    background-color: $color-s;
                }
            }

            .nav-config{
                li{
                    margin: 0px 6px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
}

.sugerencia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 30px;

    .contenedor{
        margin: 35px 25px;
        width: 18rem; 

        .contenido{
            .titulo{
                font-family: $font-p;
            }
            .texto{
                font-family: $font-p;
            }
            .boton{
                background-color: $color-p;
                border-color: $color-p;
                font-family: $font-p;
            }
        }
    }

    .contenedor:hover{
        margin-top: 10px;
    }
    
}





//responsive

@media (max-width: 1020px) {

    .barra-nav{
        background-color: sandybrown !important;
        .nav-principal{
            .nav-menu{
                .nav-buscador{
                    margin-top: 18px;
                    margin-bottom: 10px;
                    .buscador{
                        margin: 0px auto;
                        width: 100%;
                    }
                }

                .nav-config{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }  
}