body{
    background-color: #ffff;
}

.barra-nav{
    background-color: sandybrown !important;

    .nav-principal{
        .nav-menu{
            .nav-buscador{
                margin-left: 50px;
                .buscador{
                    margin-left: 180px;
                    width: 500px;
                }
            }

            .nav-config{
                li{
                    margin: 0px 6px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
}





//responsive

@media (max-width: 1020px) {

    .barra-nav{
        background-color: sandybrown !important;
        .nav-principal{
            .nav-menu{
                .nav-buscador{
                    margin-top: 18px;
                    margin-bottom: 10px;
                    .buscador{
                        margin: 0px auto;
                        width: 100%;
                    }
                }

                .nav-config{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }  
}