@use "global" as *;

body{
    background-color: #fffbf7;
}

.barra-nav{
    background-color: $color-p !important;

    .nav-principal{
        .nav-menu{
            .nav-buscador{
                margin-left: 50px;
                .buscador{
                    margin-left: 180px;
                    width: 500px;
                }
            }

            .nav-config{
                li{
                    margin: 0px 6px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
}

.articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .contenedor{
        margin: 20px 20px;
        width: 18rem;

        .contenido{
            .boton{
                background-color: $color-p;
                border-color: $color-p;
            }
        }
    }
    
}





//responsive

@media (max-width: 1020px) {

    .barra-nav{
        background-color: sandybrown !important;
        .nav-principal{
            .nav-menu{
                .nav-buscador{
                    margin-top: 18px;
                    margin-bottom: 10px;
                    .buscador{
                        margin: 0px auto;
                        width: 100%;
                    }
                }

                .nav-config{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }  
}